/*---------------------------------------------- C O L O R I --------------------------------------------------*/


.LIT{
    background-color: #c39e3d;
}

.STO{
    background-color: #2e6781;
}

.STA{
    background-color: #35693a;
}

.CHI{
    background-color: #7f5c90;
}

.SMS{
    background-color: #aa3b13;
}

.TRG{
    background-color: #ce675e;
}

.MAT{
    background-color: #cd7b26;
}

.DIR{
    background-color: #dbb839;
}

.FIS{
    background-color: #ac83c3;
}

.GEO{
    background-color: #2e6781;
}

.ING{
    background-color: #aa5700;
}

.EDC{
    background-color: #aa3b13;
}

.REL{
    background-color: #ce675e;
}

.SCT{
    background-color: #aa5700;
}
