.div-seleziona-materia{
  margin-top: 3%;
  position: relative;
  display: flex;
  align-items: center;
  width: 50%;
  margin-left: 25%;
  border-radius: 25px;
  font-size: 130%;
  cursor: pointer;
}

.div-seleziona-materia::after{
  content: '\25BC';
  position: absolute;
  right: 0;
  background: #fff;
  color: #000;
  font-size: 80%;
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 0px 50px 50px 0px;
  pointer-events: none;
  margin-right: 3%;
}

.select-materia {
  font-size: 100%;
  width: 100%;
  padding: 3% 3%;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.20);
  appearance: none;
  border-radius: 20px;
  cursor: pointer;
}















.table{
  display: block;
  border-collapse: collapse;
  width: 70%;
  margin-left: 15%;
  margin-top: 4%;
  border-radius: 17px;
  overflow: hidden;
  box-shadow: 0px 0px 68px -11px rgba(0, 0, 0, 0.25);
}

.tr-legenda{
  background-color: #cc2010;
  color: #fff;
}

th{
  text-align: justify;
  padding: 0.6%;
  padding-left: 1.2%;
}

.th-docente{
  width: 17%;
}

.th-data{
  width: 13%;
}

.th-lezione{
  width: 69%;
}

td{
  text-align: justify;
  padding: 0.5%;
  padding-left: 1.2%;
  border-right: 2px solid #CDCDCD;
}

td:first-child{
  font-weight: 700;
}

td:last-child{
  border: none;
}

tr{
  border-bottom: 2px solid #CDCDCD;
}

tr:last-child, tr:first-child{
  border-bottom: none;
}
